@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font: 14px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
a{
    text-decoration: none;
    color: #f5f6f7;
}
a:hover{
    color: #1ABC9C;
}
h1{
    font-size: 56px;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-1 li{
    display: inline-block;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.queryArea{
    border: none;
    border-radius: 0;
    resize: none;
}

.run-button{
    background-color: #1abc9c;
    border-radius: 0;
}

#queryResultModal{
    color: #474e5d;
}