<!DOCTYPE html>
<html
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Prisoner IS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="Mohamad Hallak" />

    <link rel="stylesheet" th:href="@{vendor/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/style.css}" />
</head>
<body>


    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h1 class="margin">Prisoner Information System</h1>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <ul class="nav ">
                    <li><a th:href="@{/}">HOME</a></li>
                    <li><a th:href="@{/prisoner}">PRISONERS</a></li>
                    <li><a th:href="@{/visitor}">VISITORS</a></li>
                    <li><a th:href="@{/staff}">STAFF</a></li>
                    <li><a th:href="@{/victim}">STAFF</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--&lt;!&ndash; Second Container &ndash;&gt;-->
    <!--<div class="container-fluid bg-2 text-center">-->
        <!--<h3 class="margin">What Am I?</h3>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>-->
        <!--<a href="#" class="btn btn-default btn-lg">-->
            <!--<span class="glyphicon glyphicon-search"></span> Search-->
        <!--</a>-->
    <!--</div>-->

    <!--&lt;!&ndash; Third Container (Grid) &ndash;&gt;-->
    <!--<div class="container-fluid bg-3 text-center">-->
        <!--<h3 class="margin">Where To Find Me?</h3><br/>-->
        <!--<div class="row">-->
            <!--<div class="col-sm-4">-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                <!--<img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image"/>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                <!--<img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image"/>-->
            <!--</div>-->
            <!--<div class="col-sm-4">-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                <!--<img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image"/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <script th:src="@{vendor/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>